*{
    box-sizing: border-box;
  }
  body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
  }
  img{
      max-width: 100%;
  }
  .container{
      max-width: 1320px;
      margin: 0 auto;
  }
  section{
      margin-top: 50px;
      bottom: 30px;
  }
  /*==============heder part======*/
  @media (min-width:768px) {
    .headerwrapper{
        display: flex;
    }
    .logo{
        width: 50%;
        text-align: left !important;
        padding-left: 20px;
    }
    .menu{
        width: 50%;
    }
    .menu ul{
        display: flex;
        justify-content: end !important;
    }
    .menu ul li{
      text-align: right;
      list-style: none;
      padding: 25px !important;
  }
  .menu ul li a{
      text-decoration: none;
  }
  }
  .logo{
      width: 100%;
      text-align: center;
  }
  .logo h1 a{
      text-decoration: none;
  }
  .logo h1 span{
    color: #FC8B47;
}
  .menu{
      width: 100%;
  }
  .menu ul{
      display: flex;
      justify-content: center;
  }
  .menu ul li{
    list-style: none;
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
}

/*==========header end============*/
  @media (min-width:992px) {
    .bannerwrapper{
        display: flex;
    }
  }
  
  .bannerintro{
      width: 95%;
      margin-left: 3%;
  }
  .bannerintro h1{
      font-size: 35px;
      line-height: 1.5;
  }
  .bannerintro h1 span{
      color: #FC8B47;
  }
  .bannerintro h1 a{
      text-decoration: none;
  }
  .bannerintro button{
      margin-top: 20px;
      padding: 15px 35px;
      background-image: linear-gradient(to right,#FB9048,#FD5332);
      border-radius: 45px;
  }
  .bannerintro button a{
      text-decoration: none;
      color: white;
      font-size: 18px;
  }


  @media (min-width:992px) {
    .bannerintro{
        margin-top:7%;
        width: 45%;
        margin-left: 4%;
    }
    .bannerintro h1{
        font-size: 40px;
        line-height: 1.5;
    }
  }
  /*intro end---------------*/
  
  .bannerimg{
      margin-top: 30px;
      width: 95%;
      margin-left: 4%;
      position: relative;
  }
  .bannerimg .shape img{
      width: 90%;
      height: auto;
      position: relative;
  }
  .bannerimg .bimage img{
      position: absolute;
      top: 60px;
  }


  @media (min-width:992px) {
    .bannerimg{
        width: 45%;
        margin-left: 4%;
        position: relative;
    }
    .bannerimg .shape img{
        width: 95%;
        height: auto;
        position: relative;
    }
    .bannerimg .bimage img{
        position: absolute;
        top: 60px;
    }
  }

  /*-----------------banner end-------------------*/

  .aboutsection{
      background-image: url(images/f57.jpg);
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
  }
  .abouttext{
      margin: 0px 10px;
  }
  .abouttext button{
    margin-top: 45px;
    padding: 15px 35px;
    background-image: linear-gradient(to right,#FB9048,#FD5332);
    border-radius: 45px;
}
.abouttext button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

  @media (min-width:992px) {
      .aboutwrapper{
            display: flex;
      }
      .aurtherimg{
          width: 45%;
          margin-left: 4%;
      }
      .abouttext{
          margin-top: 7%;
          width: 45%;
          margin-left: 4%;
      }
      .abouttext h1{
          font-size: 40px;
          color: #707070;
      }
      
  }
  /*------------------about end-----*/

  /*product start-------------*/
  .descrivecrd{
      text-align: center;
      padding: 0px 20px;
  }
  .descrivecrd h1{
      font-size: 40px;
      line-height: 1.5;
      color: #707070;
  }
  
  .card{
      margin-top: 60px;
      width: 80%;
      padding: 10px;
      border: 1px solid white;
      border-radius: 40px;
      box-shadow: 10px 10px 10px 10px  gray;
      margin-left: 2%;
  }
  .card img{
      max-width: 350px;
      height: 350px;
      object-fit: cover;
      width: 100%;
      border-radius: 40px;
  }
  .card h3{
      font-size: 28px;
      line-height: 1.5;
  }
  @media (min-width:650px) {
    .descrivecrd{
        text-align: center;
        padding: 0px 200px;
    }
    .descrivecrd h1{
        font-size: 40px;
        line-height: 1.5;
        color: #707070;
    }
    .cardall{
        display: flex;
    }
    .card{
        margin-top: 60px;
        width: 300px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 40px;
        box-shadow: 10px 10px 10px 10px  gray;
        margin-left: 5%;
    }
    .card img{
        max-width: 350px;
        height: 350px;
        object-fit: cover;
        width: 100%;
        border-radius: 40px;
    }
    .card h3{
        font-size: 28px;
        line-height: 1.5;
    }
  }
  @media (min-width:800px) {
    .descrivecrd{
        text-align: center;
        padding: 0px 200px;
    }
    .descrivecrd h1{
        font-size: 40px;
        line-height: 1.5;
        color: #707070;
    }
    .cardall{
        display: flex;
    }
    .card{
        margin-top: 60px;
        width: 380px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 40px;
        box-shadow: 10px 10px 10px 10px  gray;
        margin-left: 5%;
    }
    .card img{
        max-width: 350px;
        height: 350px;
        object-fit: cover;
        width: 100%;
        border-radius: 40px;
    }
    .card h3{
        font-size: 28px;
        line-height: 1.5;
    }
  }
  /*card end============*/
  #contact{
      background-image: url(images/contactbg.png);
  }
  .cnttile{
      text-align: center;
      font-size: 40px;
      line-height: 1.5;
      color: white;
  }
  .cntelmnt{
      text-align: center;
  }
  .cntelmnt h4{
      color: white;
  }
  form input{
      width: 50%;
      padding: 20px;
  }
  form textarea{
      width: 50%;
  }
  form button{
    padding: 15px 35px;
    background-image: linear-gradient(to right,#efef,#FD5332);
    border-radius: 45px;
    margin-top: 40px;
  }
  form button a{
      text-decoration: none;
      color: black;
      font-size: 18px;
  }
form{
    padding-bottom: 30px;
}
  /*---------CONTAT END---------*/

  /*FOOTER ------*/
  footer{
      margin-top: 40px;
      text-align: center;
  }
  footer h1 a{
      text-decoration: none;
  }
  footer h1 a span{
      color: #FC8B47;
  }
  footer a{
     text-decoration: none;
     padding-bottom: 20px;
  }
  /*end ===============*/
  /*happy coding   */